@media screen and (max-width: 750px) {
  .title_header {
    font-size: calc(25px + 1.2vw);
    padding-top: 1vw;
  }
  .card_site_info_container {
    flex-direction: column;
    gap: 15px;
  }
  .my_name_header {
    font-size: 15px;
    right: 3px;
    bottom: 0;
  }
}
@media screen and (max-width: 420px) {
  .card_site_img {
    max-width: 95vw;
  }
  .card_site {
    padding: 10px 5px;
  }
}
